/* 调整颜色编辑器样式 */
::v-deep .el-color-picker__trigger {
    height: 100%;
    width: 100%;
}

::v-deep .el-color-picker {
    height: 24px;
    width: 24px;
}

::v-deep .el-color-picker__icon {
    display: none;
}

.font-color-picker {

    /* 隐藏色块区域 */
    ::v-deep .el-color-picker__color-inner {
        position: relative;
        height: 0;
        bottom: 0px;
        display: block;
    }

    /* 消除色块边框 */
    ::v-deep .el-color-picker__color {
        border: 0px;
        background-color: none;
    }

    /* 字母A作为色块 */
    ::v-deep .el-color-picker__color::before {
        content: 'A';
        font-weight: bold;
        font-size: 12px;
    }
}

/* 调整数字输入的按钮样式 */
::v-deep.el-select__caret,
::v-deep .el-input__inner,
::v-deep .el-input__icon {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}

::v-deep .el-input__icon {
    width: auto;
}

.stroke-size-input {
    ::v-deep .el-input-number {
        width: 50px;
        height: 24px;
        line-height: 24px;
    }

    ::v-deep input.el-input__inner {
        border: 1px solid #dcdfe6 !important;
        height: 24px;
        line-height: 24px;
        padding-right: 16px;
        padding-left: 4px;
        text-align: left;
    }

    ::v-deep .el-input-number__decrease,
    ::v-deep .el-input-number__increase {
        width: 12px;
        line-height: 12px;
    }

    ::v-deep .el-input-number__decrease {
        bottom: -1px;
    }
}

/*字体风格按钮样式*/
.style_btn {
    display: inline-block;
    padding: 4px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background-color: none;
    cursor: pointer;

    .context {
        width: 14px;
        height: 14px;
        line-height: 14px;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
    }
}

.style_btn.checked {
    background-color: #e4e4e4;
    color: #707070;
}

/* 带单位的数字输入 */
.unit-el-input-number[data-unit] {
    --el-input-number-unit-offset-x: 20px;
    position: relative;
}

.unit-el-input-number[data-unit]::after {
    content: attr(data-unit);
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: var(--el-input-number-unit-offset-x);
    color: #999999;
}

.unit-el-input-number[data-unit] .el-input__inner {
    padding-left: 16px;
    padding-right: calc(var(--el-input-number-unit-offset-x) + 12px);
}

/* 禁用颜色编辑器的清空按钮 */
.el-color-picker__panel .el-button--text {
    display: none;
    height: 0;
    pointer-events: none;
    visibility: hidden;
}

/* 多选框 */
::v-deep .el-checkbox__label {
    font-size: 12px;
}

::v-deep .el-checkbox__inner {
    width: 12px;
    height: 12px;
    color: #606266;
}

::v-deep .is-checked.el-checkbox__inner {
    color: #606266;
}