<?xml version="1.0" encoding="utf-8" ?>
<!-- log4net配置（更多配置详情请参考：https://logging.apache.org/log4net/release/config-examples.html） -->
<log4net>
  <!-- 文件方式存储日志设置 -->
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <!-- 日志文件，“路径\文件前缀” -->
	<!-- 当前为程序运行时设置，:\\是一个非法路径，使其无效化 -->
    <file value=":\\" />
    <!-- 是否固定日志文件名 -->
    <staticLogFileName value="false"/>
    <!-- 是否追加到日志文件尾部 -->
    <appendToFile value="true" />
    <!-- 日志文件循环保存方式 -->
    <rollingStyle value="Composite" />
    <!-- 按日期命名日志文件 -->
    <datePattern value="yyyyMMdd&quot;.log&quot;" />
    <!-- 日志文件个数（单个日志文件名的个数，例如，每天最多10个文件），超过设置次数循环存放 -->
    <maxSizeRollBackups value="10" />
    <!-- 单个日志文件大小 -->
    <maximumFileSize value="8MB" />
    <!-- 输出日志格式 -->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <!-- Console方式输出日志设置 -->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <root>
    <!-- 日志记录级别 
		  OFF
			  OFF Level 是最高等级的，用于关闭所有日志记录。

		  FATAL 致命的错误
			  FATAL level 指出每个严重的错误事件将会导致应用程序的退出。

		  ERROR 错误
			  ERROR level 指出虽然发生错误事件，但仍然不影响系统的继续运行。

		  WARN 警告
			  WARN level 表明会出现潜在错误的情形。

		  INFO 信息
			  INFO level 表明 消息在粗粒度级别上突出强调应用程序的运行过程。

		  DEBUG 调试
			  DEBUG Level 指出细粒度信息事件对调试应用程序是非常有帮助的。

		  TRACE
			  与DEBUG 相比更细致化的记录事件消息。

		  ALL
			  ALL Level 是最低等级的，用于打开所有日志记录。

		  从高到地低
		  OFF 、 FATAL 、 ERROR 、 WARN 、 INFO 、 DEBUG 、 TRACE 、 ALL
	  -->
    <level value="ALL"/>
    <appender-ref ref="LogFileAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>